<div class="form-group" class="" aria-label="Basic mixed styles example">
    <div class="card-body">
        <h1 class="text-center" >Maestro</h1>
        <div class="container">
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6 text-center">
                    <button type="button" class="btn btn-warning">Datos Personales</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-success">Agregar Actividad</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-danger">Imprimir Curriculum</button>
                    <br>
                    <br>
                    
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
        <br>

    </div>
</div>

















<div class="row">
    Maestro

    botones

    datos persnales
    agregar proyecto
    imprimir curriculum








    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>