<div class="jumbotron mt-4 text-center">

    <h1 class="display-4">Administrador</h1>
    <hr class="my-4">

    <div class="row">

        <div class="col-3">
        </div>

        <div class="col-6">
            <a href="/info/{{user._id}}" class="btn btn-warning btn-block m-3">Datos Personales</a>
            <a href="/lista" class="btn btn-info btn-block m-3">Ver Personal</a>
            <a href="/users/signup" class="btn btn-primary btn-block m-3">Registrar nuevo</a>
        </div>

        <div class="col-2">
        </div>

    </div>

</div>