<div class="form-group" class="" aria-label="Basic mixed styles example">
    <div class="card-body">
        <h1 class="text-center">Administrador</h1>
        <div class="container bgdark">
            
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6 text-center">
                    <a href="/info/{{user._id}}" class="btn btn-warning">Datos Personales</a>
                    <br>
                    <br>
                    <a href="/lista" class="btn btn-info">Ver Personal</a>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="/users/signup">Register</a>
                    
                </div>
                <div class="col-2">
                </div>
            </div>
            
        </div>
        
    </div>
</div>
